.navbar{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  border-top:2px solid lightgrey;
  border-bottom:2px solid lightgrey;
  background-color:lightgreen;
}
.navbar>select+button{
      margin-left:300px;
}
.navbar>select{
  border:none;
}
#btn1{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:#2196F3;
  border:none;
  border-radius: 25px;
}
#btn2{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:lightcoral;
  border:none;
  border-radius: 25px;
}
.navSel{
  background-color:lightgreen;
}
.header{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
}
.lab{
  color:grey;
  font-size: 22px;
}
.sel{
  height:30px;
  width:150px;
  font-size:18px;
  border:none;
  }

  input[type="date"]{
    height:30px;
    width:150px;
    font-size:18px;
    border:none;
  } 
#priceRange{
  height:45px;
  width:200px;
  border-radius:15px;
  font-size:18px;
}

.logo{
  height:30px;
  width:30px;
  padding-top:5px;
  color: lightgreen;
}

.searchType{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
  border-top:2px solid lightgrey;
  border-bottom:2px solid lightgrey;
}

.Houses{
height:250px;
width:300px;
margin:25px;
border-radius: 50%;
}

#container{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.containerChild{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  border:2px solid grey;
  margin:35px;
 }

 #favContainer{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  border-top:2px solid lightgrey;
  border-bottom:2px solid lightgrey;
  margin:10px;
}
#btn3{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:lightgreen;
  border:none;
  border-radius: 25px;
}
.footer{
  color:white;
}

.footerContainer{
  background-color:rgb(85, 48, 48);
  display:flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
