.navbar{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  /* border-top:2px solid lightgrey;
  border-bottom:2px solid lightgrey; */
  padding:0 5%;
  background-color:lightgreen;
}
.navbar div{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
  /* border:1px solid; */
  width:175px;
}
.navbar>select+button{
      margin-left:300px;
}
.navbar>select{
  border:none;
}
#btn1{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:#2196F3;
  border:none;
  border-radius: 25px;
}
#btn2{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:lightcoral;
  border:none;
  border-radius: 25px;
}
.navSel{
  background-color:lightgreen;
}
.header{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  padding:0 5% 2% 5%;
}
.lab{
  color:grey;
  font-size: 22px;
}
.sel{
  height:30px;
  width:150px;
  font-size:18px;
  border:none;
  cursor:pointer;
  }

  input[type="date"]{
    height:30px;
    width:150px;
    font-size:18px;
    border:none;
  } 
#priceRange{
  height:45px;
  width:200px;
  border-radius:15px;
  font-size:18px;
}

.logo{
  height:30px;
  width:30px;
  padding-top:5px;
  color: lightgreen;
  cursor:pointer;
}

.searchType{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
  border:2px solid lightgrey;
  /* border-bottom:2px solid lightgrey; */
  box-shadow: 5px 10px grey;
  padding:0 5% 2% 5%;
  margin:2%;
}

.Houses{
height: 250px;
width:300px;
/* margin:10px; */
/* border-radius: 15%; */
border-radius:15% 5%;
/* padding-bottom: 8%; */
/* padding-right: 5%; */
margin-bottom: 15%;
}
.House_row{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-between;
  padding:0 8%;
}
#container{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.containerChild{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: space-between;
  border:2px solid grey;
  border-radius: 15%;
  margin:35px;
  padding:2%;
  
 }

.containerChild:hover{
box-shadow: 5px 5px lightgreen;
}

 #favContainer{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-around;
  border-top:2px solid lightgrey;
  border-bottom:2px solid lightgrey;
  margin:10px;
}
#btn3{
  height:45px;
  width:150px;
  font-size: 35px;
  color:white;
  background-color:lightgreen;
  border:none;
  border-radius: 25px;
}
.footer{
  color:white;
}

.footerContainer{
  background-color:rgb(85, 48, 48);
  display:flex;
  justify-content: space-around;
  margin-top:2%;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  .favImg{
    margin-right:25%;
  }

}

.Houses1{
  height:130px;
  width:150px;
  margin:25px;
  border-radius: 15%;
  }

  .Houses1:hover{
    box-shadow: 5px 5px skyblue;
  }
